/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    background-color: rgb(177, 177, 177);
    grid-template-columns: 1fr 10fr;
    height: auto;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

h1 {
    font-weight: 300;
}

.paddingY40 {
    padding: 40px 0;
}

.marginY30 {
    margin: 80px 0;
}

.width1000px {
    width: 43%;
}

.marginX20pxY10 {
    margin: 0 10px 20px 0;
}

.justifycontentSpacebetween {
    justify-content: space-between;
}

.justifycontentSpaceevenly {
    justify-content: space-evenly;
}
.dFlexi{
    display: flex;
}
.border-radius20px {
    border-radius: 20px;
}

.cardsimg {
    padding: 20px;
    margin: -45px 0 0 30px;
}

.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dGrid {
    display: grid;
}

.dFlex {
    display: flex;
}

.align-itemsCenter {
    align-items: center;
}

.gap2rem {
    gap: 2rem;
}

.margin10 {
    margin: 5px 0;
}

.justifycontentSpacearound {
    justify-content: space-around;
}

.gridtemplatecolumnsAuto1Auto {
    grid-template-columns: auto 1fr auto;
}

.active {
    background-color: orangered;
    padding: 10px 0;
    border-radius: 7px;
    cursor: pointer;
}

.icon:hover {
    background-color: rgba(128, 128, 128, 0.534);
    cursor: pointer;
}

.paddingY10 {
    padding: 10px 0;
}

.border-radius7px {
    border-radius: 7px;
}

.cursorPointer {
    cursor: pointer;
}

/* Aside */
aside {
    background: url(./download-2114931675/images/images/sidebar-1.jpg) rgba(0, 0, 0, 0.744);
    background-blend-mode: color;
    padding: 20px;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
}

.onlyresponsive {
    display: none;
}


.see-more {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 30px;
    width: 50px;
    padding: 5px 0;
    margin: 0 10px 0 0;
    transition: box-shadow 0.3s ease-in-out;
}

.notificationsInfo {
    position: relative;
}

.numberofnotifications {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    color: white;
}

.info {
    position: absolute;
    width: 200px;
    left: -185px;
    visibility: hidden;
}

.notificationsInfo:hover .info {
    visibility: visible;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.notificationsInfo:hover .info p {
    padding: 10px;
}

.notificationsInfo:hover .info p:hover {
    background-color: orangered;
}

.see-more:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-button {
    background: none;
    border: none;
    border-bottom: 2px solid rgb(122, 122, 122);
    color: #333;
    outline: none;
}

.search-button:focus {
    border-bottom: 2px solid rgb(89, 0, 255);
}

/* Main */
.firstCard {
    background-color: whitesmoke;
    margin-bottom: 20px;
}

.language {
    background-color: green;
}

table {
    border-collapse: collapse;
}

td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.flagssize {
    height: 25px;
}

.secondCards {
    width: 45%;
    background-color: whitesmoke;
    margin: 30px 0 0 0;
    padding: 20px;
}

.couch {
    background-color: yellow;
}

.warning {
    padding: 10px;
    border-top: 1px solid rgb(145, 145, 145);
}

.equalizer {
    background-color: rgb(153, 0, 255);
}

.view {
    background-color: green;
}

.public {
    background-color: blue;
}

.card {
    background-color: whitesmoke;
    text-align: center;
    margin: 20px 0;
    max-width: 100%;
    width: 90%;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

.cardimg {
    width: 100%;
    max-width: 100%; 
    transform: translateY(-40px);
    transition: transform 0.3s ease-in-out;
}

.imagepR:hover .cardimg {
    transform: translateY(-70px);
}

.imagepR {
    position: relative;
}

.imagepA {
    position: absolute;
    left: 0;
    top: 40%;  
    width: 100%;
    text-align: center;
    font-size: 18px;
    justify-content: space-evenly;
    visibility: hidden;
    transition: visibility 0.3s ease; 
}

.imagepR:hover .imagepA {
    visibility: visible;
}

.cardbottom {
    border-top: 1px solid gray;
    align-items: end;
    padding: 10px;
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

nav,
a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bolder;
}

@media(max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

.notificationsInfo, .see-more,  .avatari, .Dashboardi, #search{
    display: none;
}
    .onlyresponsive {
        display: flex;
        justify-content: flex-start;
        gap: 10px;
    }

    .firstCard, .secondCards, .card, .width1000px {
        width: 100%;
        margin: 10px 0;
    }

    .dFlex {
        display: block;
    }
    .imagepA {
        position: absolute;
        left: 0;
        top: 60%;  
        width: 100%;
        text-align: center;
        font-size: 18px;
        justify-content: space-evenly;
        visibility: hidden;
        transition: visibility 0.3s ease; 
    }
    .marginY40{
        margin:80px 0;
    }
}

@media(max-width: 480px) {
    .firstCard, .secondCards, .card, .width1000px {
        width: 100%;
        margin: 5px 0;
    }
    .imagepA {
        position: absolute;
        left: 0;
        top: 40%;  
        width: 100%;
        text-align: center;
        font-size: 18px;
        justify-content: space-evenly;
        visibility: hidden;
        transition: visibility 0.3s ease; 
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .marginY40{
        margin:80px 0;
    }
}