body {
    background-image: url('./images/nphrgz8yfnjylrwfr0yl.webp');
}

h1,
p {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(19, 1, 43, 1) 3%, rgba(132, 2, 53, 1) 7%, rgba(85, 85, 92, 1) 10%, rgba(88, 107, 76, 1) 13%, rgba(5, 4, 72, 1) 15%, rgba(6, 5, 80, 1) 18%, rgba(6, 6, 90, 1) 22%, rgba(7, 7, 97, 1) 25%, rgba(7, 7, 102, 1) 27%, rgba(8, 8, 112, 1) 31%, rgba(8, 8, 114, 1) 32%, rgba(9, 9, 121, 1) 35%, rgba(9, 58, 92, 1) 38%, 
    rgba(8, 106, 63, 1) 41%, rgba(8, 138, 43, 1) 43%, rgba(7, 91, 105, 1) 47%, 
    rgba(7, 56, 152, 1) 50%, rgba(35, 83, 121, 1) 53%, rgba(63, 110, 89, 1) 56%, rgba(82, 128, 68, 1) 58%,
     rgba(111, 155, 37, 1) 61%, rgba(139, 181, 5, 1) 64%, rgba(131, 183, 19, 1) 66%, rgba(123, 185, 33, 1) 68%,
      rgba(115, 187, 47, 1) 70%, rgba(104, 190, 68, 1) 73%, rgba(96, 192, 82, 1) 75%, rgba(88, 194, 96, 1) 77%,
       rgba(80, 196, 110, 1) 79%, rgba(72, 198, 124, 1) 81%, rgba(64, 199, 138, 1) 83%, rgba(57, 201, 152, 1) 85%,
        rgba(49, 202, 166, 1) 87%, rgba(45, 203, 173, 1) 88%, rgba(41, 204, 180, 1) 89%, rgba(37, 205, 187, 1) 90%,
         rgba(37, 205, 187, 1) 90%, rgba(37, 205, 187, 1) 90%, rgba(33, 206, 194, 1) 91%, rgba(33, 206, 194, 1) 91%,
          rgba(29, 207, 201, 1) 92%, rgba(25, 208, 208, 1) 93%, rgba(21, 209, 215, 1) 94%, rgba(21, 209, 215, 1) 94%,
           rgba(18, 210, 222, 1) 95%, rgba(14, 210, 229, 1) 97%, rgba(14, 210, 229, 1) 97%, rgba(14, 210, 229, 1) 97%,
            rgba(0, 212, 255, 1) 100%);
            color: yellow;
}
ul{
    color: yellowgreen;
    background-color: rgba(2, 2, 2, 0.3);
}