h1{
    background-color: rgb(255, 122, 122);
    color: rgb(0, 0, 0);
    }
    p{
        background-color: rgb(132, 255, 0);
        color: rgb(71, 42, 165);
    }
    h2{
        background-color: rgb(81, 0, 255);
        color: rgb(182, 1, 1);
    }
    h3{
        background-color: rgb(167, 176, 0);
        color: rgb(15, 5, 153)(76, 0, 255);
    }