body{
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-top: 50px;
}
form{
    width: 30%;
    background-color: gray;
    border-radius: 6px;
}
.form-group {
    padding: 20px;
    margin-bottom: 20px;
} 
input {
    width: 90%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;
}
label{
    display: block;
    margin-bottom: 5px;
    color: transparent;
    transition: color 0.3s;
}
input:focus + label
 {
    color: #333; 
    opacity: 1;
    transition: color 0.3s, opacity 0.3s, transform 0.3s;
}
button{
    background-color: blue;
    padding: 10px;
    border: 1px solid white;
    width: 100px;
}
.dflex{
    display: flex;
    justify-content: space-between;
}
img{
   width:  50px;
   animation: rotate 2s linear infinite
}
@keyframes rotate{
from{
    transform: rotate(0deg);
}
to{
    transform: rotate(360deg);
}
}