/* Global */
* {
    margin: 0;
    padding: 0;
}

.paddingY40 {
    padding: 40px 0 0 0;
}

.marginY30 {
    margin: 80px 0;
}

.marginX20pxY10 {
    margin: 0 10px 20px 0;
}

.justifycontentSpacebetween {
    justify-content: space-between;
}

.justifycontentSpaceevenly {
    justify-content: space-evenly;
}

.border-radius20px {
    border-radius: 20px;
}

.cardsimg {
    padding: 20px;
    margin: -45px 0 0 30px;
}

.boxShadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dGrid {
    display: grid;
}

.dFlex {
    display: flex;
}

.align-itemsCenter {
    align-items: center;
}

.gap2rem {
    gap: 2rem;
}

.margin10 {
    margin: 5px 0;
}

.justifycontentSpacearound {
    justify-content: space-around;
}

.gridtemplatecolumnsAuto1Auto {
    grid-template-columns: auto 1fr auto;
}

.active {
    background-color: orangered;
    padding: 10px 0;
    border-radius: 7px;
    cursor: pointer;
}

.icon:hover {
    background-color: rgba(128, 128, 128, 0.534);
    cursor: pointer;
}

.paddingY10 {
    padding: 10px 0;
}

.border-radius7px {
    border-radius: 7px;
}

.cursorPointer {
    cursor: pointer;
}

body {
    grid-template-columns: auto 1fr;
    height: auto;
    font-family: 'Roboto';
}

h1 {
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.gstatic.com/s/roboto/v30/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* Aside */
aside {
    background: url(./download-2114931675/images/images/sidebar-1.jpg) rgba(0, 0, 0, 0.744);
    background-blend-mode: color;
    padding: 20px;
    color: white;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

/* Right Side */
.right-side {
    background-color: rgb(177, 177, 177);
    align-items: start;
    padding: 5px 20px;
}

/* Header */
header {
    justify-content: space-between;
}

.onlyresponsive {
    display: none;
}

.see-more {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    height: 30px;
    width: 50px;
    padding: 5px 0;
    margin: 0 10px 0 0;
    box-shadow: 0px;
    transition: box-shadow 1s;
}

.notificationsInfo {
    position: relative;
}

.numberofnotifications {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    color: white;
}

.info {
    position: absolute;
    width: 200px;
    left: -185px;
    visibility: hidden;
}

.notificationsInfo:hover .info {
    visibility: visible;
    background-color: rgb(255, 255, 255);
    padding: 10px;
}

.notificationsInfo:hover .info p {
    padding: 10px;
}

.notificationsInfo:hover .info p:hover {
    background-color: orangered;
}

.see-more:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-button {
    background: none;
    border: none;
    border-bottom: 2px rgb(122, 122, 122) solid;
    color: #333;
    outline: none;
}

.search-button:focus {
    border-bottom: 2px rgb(89, 0, 255) solid;
}

/* Main */
.firstCard {
    width: 1fr;
    height: auto;
    background-color: whitesmoke;
}

.language {
    background-color: green;
}

table {
    border-collapse: collapse;
    height: 50px;
}

td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.flagssize {
    height: 35px;
}

.secondCards {
    width: 45%;
    background-color: whitesmoke;
    margin: 30px 0 0 0;
    padding: 20px;
}

.couch {
    background-color: yellow;
}

.warning {
    padding: 10px;
    border-top: 1px solid rgb(145, 145, 145);
}

.equalizer {
    background-color: rgb(153, 0, 255);
}

.view {
    background-color: green;
}

.public {
    background-color: blue;
}

.card {
    width: 350px;
    background-color: whitesmoke;
    height: auto;
    margin: 50px 0;
    text-align: center;
}

.cardimg {
    width: 300px;
    transform: translateY(-40px);
    transition: transform 3s;
}

.imagepR:hover .cardimg {
    transform: translateY(-70px);
}

.imagepA {
    position: absolute;
    left: 4%;
    top: 140px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    justify-content: space-evenly;
    visibility: hidden;
    transition: 4s;
}

.imagepR:hover .imagepA {
    visibility: visible;
}


.cardbottom {
    border-top: 1px solid gray;
    align-items: end;
    padding: 10px;
}

.imagepR {
    position: relative;

}

/* Footer */

nav,
a {
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: bolder;
    justify-content: start;
}

@media(max-width: 1002px) {
    *{
        /* overflow-x: hidden; */
    }
    .hidderesponsive {
        display: none;
    }

    .onlyresponsive {
        display: contents;
    }

    .width970px {
        width: 900px;
    }

    body {
        width: auto;
    }

    .firstCard {
        height: auto;
    }

    .firstCardHeader {
        display: block;
    }

    table {
        border-collapse: collapse;
        height: 200px;
        margin: 0 20px;
    }

    .width1000px {
        width: 800px;
    }

    iframe {
        width: 1000px;
        margin: 0 20px;
        height: 500px;
    }

    .cardimg {
        width: 800px;
    }
.card{
    width: 900px; 
}
    .thirdCards {
        display: block;
        margin: 20px 0 0 20px ;
      gap: 12rem;
    }
    .imagepA{
        left: 4%;
        top: 470px;
        width: 100%;
    }
   .h1{
    margin:  0 0 40px 25px ;
   }
   .line{
    margin-left: 28px;
   }
   nav{
margin: 0 0 0 45px;
   }
}
@media (max-width:480px){
    body{
        width: 400px;
    }
    .thesecondCards{
        display: block ;
        width: 900px;
    }
    .mar{
        margin: -40px 0 0  0;
    }
    .firstCard{
        width: 450px;
    }
    .width1000px{
        width: 400px;
    }
    .card{
        width: 450px;
    }
.cardimg{
    width: 400px;
}
.imagepA{
    top: 200px;
}
footer{
width: 450px;
}
}
