body{
    margin: 0;
    padding: 0;
}
div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: red;
}
ul{
    display: grid;
    grid-template-columns: 200px 200px 200px ;
}
.jeton{
    background-color: gray;
    color: white;
    display: grid;
}
main{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(4, 300px);
    gap: 3rem;
}